CONTENTFUL_SPACE_ID=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_DELIVERY_TOKEN=
CONTENTFUL_PREVIEW_TOKEN=

# Tradovate Trading Terminal
TRADOVATE_ENV=demo
TRADOVATE_USERNAME=
TRADOVATE_PASSWORD=
TRADOVATE_APP_ID=BB Terminal
TRADOVATE_CID=
TRADOVATE_SEC=
NEXT_PUBLIC_TRADE_SYMBOL=MNQM5
NEXT_PUBLIC_TV_SYMBOL=CME_MICRO:MNQ1!
NEXT_PUBLIC_TICK_VALUE=0.5
